In [37]:

#importing required libraries and more
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#checking out if it all is well
print("import successsfull")

import successsfull

In [38]:
df=pd.read_csv('../resource/owid-co2-data-1750-2023.csv')
print("data loaded successfully")

data loaded successfully

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50191 entries, 0 to 50190
Data columns (total 79 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   country                                    50191 non-null  object
 1   year                                       50191 non-null  int64
 2   iso_code                                   42262 non-null  object
 3   population                                 41019 non-null  float64
 4   gdp                                        15251 non-null  float64
 5   cement_co2                                 28863 non-null  float64
 6   cement_co2_per_capita                      25358 non-null  float64
 7   co2                                        29137 non-null  float64
 8   co2_growth_abs                             26981 non-null  float64
 9   co2_growth_prct                            26002 non-null  float64
 10  co2_including_luc                          23585 non-null  float64
 11  co2_including_luc_growth_abs               23285 non-null  float64
 12  co2_including_luc_growth_prct              23285 non-null  float64
 13  co2_including_luc_per_capita               23495 non-null  float64
 14  co2_including_luc_per_gdp                  16790 non-null  float64
 15  co2_including_luc_per_unit_energy          9701 non-null   float64
 16  co2_per_capita                             26182 non-null  float64
 17  co2_per_gdp                                17528 non-null  float64
 18  co2_per_unit_energy                        10350 non-null  float64
 19  coal_co2                                   21755 non-null  float64
 20  coal_co2_per_capita                        21050 non-null  float64
 21  consumption_co2                            4866 non-null   float64
 22  consumption_co2_per_capita                 4502 non-null   float64
 23  consumption_co2_per_gdp                    4444 non-null   float64
 24  cumulative_cement_co2                      28841 non-null  float64
 25  cumulative_co2                             27328 non-null  float64
 26  cumulative_co2_including_luc               23585 non-null  float64
 27  cumulative_coal_co2                        21755 non-null  float64
 28  cumulative_flaring_co2                     15891 non-null  float64
 29  cumulative_gas_co2                         18014 non-null  float64
 30  cumulative_luc_co2                         37236 non-null  float64
 31  cumulative_oil_co2                         25217 non-null  float64
 32  cumulative_other_co2                       3202 non-null   float64
 33  energy_per_capita                          10109 non-null  float64
 34  energy_per_gdp                             7696 non-null   float64
 35  flaring_co2                                15952 non-null  float64
 36  flaring_co2_per_capita                     14694 non-null  float64
 37  gas_co2                                    18014 non-null  float64
 38  gas_co2_per_capita                         17292 non-null  float64
 39  ghg_excluding_lucf_per_capita              35639 non-null  float64
 40  ghg_per_capita                             35813 non-null  float64
 41  land_use_change_co2                        37236 non-null  float64
 42  land_use_change_co2_per_capita             36434 non-null  float64
 43  methane                                    37410 non-null  float64
 44  methane_per_capita                         35813 non-null  float64
 45  nitrous_oxide                              38280 non-null  float64
 46  nitrous_oxide_per_capita                   36320 non-null  float64
 47  oil_co2                                    25218 non-null  float64
 48  oil_co2_per_capita                         24436 non-null  float64
 49  other_co2_per_capita                       2474 non-null   float64
 50  other_industry_co2                         3202 non-null   float64
 51  primary_energy_consumption                 10151 non-null  float64
 52  share_global_cement_co2                    21960 non-null  float64
 53  share_global_co2                           27328 non-null  float64
 54  share_global_co2_including_luc             23585 non-null  float64
 55  share_global_coal_co2                      21755 non-null  float64
 56  share_global_cumulative_cement_co2         21960 non-null  float64
 57  share_global_cumulative_co2                27328 non-null  float64
 58  share_global_cumulative_co2_including_luc  23585 non-null  float64
 59  share_global_cumulative_coal_co2           21755 non-null  float64
 60  share_global_cumulative_flaring_co2        10869 non-null  float64
 61  share_global_cumulative_gas_co2            15034 non-null  float64
 62  share_global_cumulative_luc_co2            37236 non-null  float64
 63  share_global_cumulative_oil_co2            23592 non-null  float64
 64  share_global_cumulative_other_co2          2108 non-null   float64
 65  share_global_flaring_co2                   10869 non-null  float64
 66  share_global_gas_co2                       15034 non-null  float64
 67  share_global_luc_co2                       37236 non-null  float64
 68  share_global_oil_co2                       23592 non-null  float64
 69  share_global_other_co2                     2108 non-null   float64
 70  share_of_temperature_change_from_ghg       41001 non-null  float64
 71  temperature_change_from_ch4                38060 non-null  float64
 72  temperature_change_from_co2                41001 non-null  float64
 73  temperature_change_from_ghg                41001 non-null  float64
 74  temperature_change_from_n2o                38060 non-null  float64
 75  total_ghg                                  37410 non-null  float64
 76  total_ghg_excluding_lucf                   37236 non-null  float64
 77  trade_co2                                  4535 non-null   float64
 78  trade_co2_share                            4535 non-null   float64
dtypes: float64(76), int64(1), object(2)
memory usage: 30.3+ MB

In [40]:
df.head(0)

Empty DataFrame
Columns: [country, year, iso_code, population, gdp, cement_co2, cement_co2_per_capita, co2, co2_growth_abs, co2_growth_prct, co2_including_luc, co2_including_luc_growth_abs, co2_including_luc_growth_prct, co2_including_luc_per_capita, co2_including_luc_per_gdp, co2_including_luc_per_unit_energy, co2_per_capita, co2_per_gdp, co2_per_unit_energy, coal_co2, coal_co2_per_capita, consumption_co2, consumption_co2_per_capita, consumption_co2_per_gdp, cumulative_cement_co2, cumulative_co2, cumulative_co2_including_luc, cumulative_coal_co2, cumulative_flaring_co2, cumulative_gas_co2, cumulative_luc_co2, cumulative_oil_co2, cumulative_other_co2, energy_per_capita, energy_per_gdp, flaring_co2, flaring_co2_per_capita, gas_co2, gas_co2_per_capita, ghg_excluding_lucf_per_capita, ghg_per_capita, land_use_change_co2, land_use_change_co2_per_capita, methane, methane_per_capita, nitrous_oxide, nitrous_oxide_per_capita, oil_co2, oil_co2_per_capita, other_co2_per_capita, other_industry_co2, primary_energy_consumption, share_global_cement_co2, share_global_co2, share_global_co2_including_luc, share_global_coal_co2, share_global_cumulative_cement_co2, share_global_cumulative_co2, share_global_cumulative_co2_including_luc, share_global_cumulative_coal_co2, share_global_cumulative_flaring_co2, share_global_cumulative_gas_co2, share_global_cumulative_luc_co2, share_global_cumulative_oil_co2, share_global_cumulative_other_co2, share_global_flaring_co2, share_global_gas_co2, share_global_luc_co2, share_global_oil_co2, share_global_other_co2, share_of_temperature_change_from_ghg, temperature_change_from_ch4, temperature_change_from_co2, temperature_change_from_ghg, temperature_change_from_n2o, total_ghg, total_ghg_excluding_lucf, trade_co2, trade_co2_share]
Index: []

[0 rows x 79 columns]

In [41]:
null_counts = df.isnull().sum()
print("Missing values in each column:\n", null_counts)

Missing values in each column:
 country                            0
year                               0
iso_code                        7929
population                      9172
gdp                            34940
                               ...
temperature_change_from_n2o    12131
total_ghg                      12781
total_ghg_excluding_lucf       12955
trade_co2                      45656
trade_co2_share                45656
Length: 79, dtype: int64

In [42]:
df.dropna(inplace=True)
print("missing values handled")

missing values handled

In [43]:
null_counts = df.isnull().sum()
print("Missing values in each column:\n", null_counts)

Missing values in each column:
 country                        0
year                           0
iso_code                       0
population                     0
gdp                            0
                              ..
temperature_change_from_n2o    0
total_ghg                      0
total_ghg_excluding_lucf       0
trade_co2                      0
trade_co2_share                0
Length: 79, dtype: int64

In [44]:
df

,country,year,iso_code,population,gdp,cement_co2,cement_co2_per_capita,co2,co2_growth_abs,co2_growth_prct,...,share_global_other_co2,share_of_temperature_change_from_ghg,temperature_change_from_ch4,temperature_change_from_co2,temperature_change_from_ghg,temperature_change_from_n2o,total_ghg,total_ghg_excluding_lucf,trade_co2,trade_co2_share
3628,Australia,1990,AUS,17126301.0,4.641366e+11,3.463,0.202,278.160,21.324,8.302,...,1.038,1.677,0.007,0.008,0.016,0.002,532.292,332.675,-34.901,-12.547
3629,Australia,1991,AUS,17353191.0,4.613021e+11,3.183,0.183,279.534,1.374,0.494,...,1.068,1.670,0.007,0.008,0.017,0.002,513.691,335.670,-35.695,-12.769
3630,Australia,1992,AUS,17549282.0,4.786338e+11,2.923,0.167,284.529,4.995,1.787,...,1.126,1.662,0.007,0.008,0.017,0.002,557.035,342.268,-38.086,-13.386
3631,Australia,1993,AUS,17722905.0,5.015248e+11,3.005,0.170,288.874,4.345,1.527,...,1.225,1.658,0.007,0.008,0.017,0.002,566.656,346.655,-41.510,-14.370
3632,Australia,1994,AUS,17897430.0,5.279932e+11,3.484,0.195,293.701,4.827,1.671,...,1.421,1.651,0.007,0.008,0.017,0.002,557.506,348.997,-37.772,-12.861
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47794,United States,2018,USA,335056495.0,1.812469e+13,38.971,0.116,5377.797,165.635,3.178,...,8.143,17.834,0.035,0.230,0.276,0.011,6305.474,5953.741,426.265,7.926
47795,United States,2019,USA,337790068.0,1.854055e+13,40.896,0.121,5262.145,-115.652,-2.151,...,8.085,17.713,0.035,0.232,0.278,0.011,6216.229,5849.561,436.630,8.298
47796,United States,2020,USA,339436157.0,1.802736e+13,40.688,0.120,4714.628,-547.517,-10.405,...,8.294,17.591,0.035,0.235,0.280,0.011,5651.509,5262.847,472.234,10.016
47797,United States,2021,USA,340161441.0,1.909938e+13,41.312,0.121,5032.213,317.585,6.736,...,8.239,17.472,0.035,0.237,0.283,0.011,6009.153,5590.518,537.591,10.683
47798,United States,2022,USA,341534041.0,1.949317e+13,41.418,0.121,5078.871,46.658,0.927,...,8.240,17.356,0.035,0.239,0.285,0.011,6067.148,5650.342,563.985,11.105

In [45]:
df = df[df['year'] > 1999]

In [46]:
df

,country,year,iso_code,population,gdp,cement_co2,cement_co2_per_capita,co2,co2_growth_abs,co2_growth_prct,...,share_global_other_co2,share_of_temperature_change_from_ghg,temperature_change_from_ch4,temperature_change_from_co2,temperature_change_from_ghg,temperature_change_from_n2o,total_ghg,total_ghg_excluding_lucf,trade_co2,trade_co2_share
3638,Australia,2000,AUS,19132473.0,6.920593e+11,3.621,0.189,350.008,6.048,1.758,...,1.561,1.631,0.007,0.009,0.019,0.002,745.010,409.771,-59.134,-16.895
3639,Australia,2001,AUS,19365437.0,7.138901e+11,3.541,0.183,357.784,7.776,2.222,...,1.635,1.638,0.007,0.010,0.019,0.002,726.142,421.412,-58.196,-16.266
3640,Australia,2002,AUS,19595357.0,7.470657e+11,3.488,0.178,362.537,4.753,1.328,...,1.781,1.639,0.007,0.010,0.020,0.002,694.026,427.038,-44.294,-12.218
3641,Australia,2003,AUS,19819450.0,7.744510e+11,3.584,0.181,369.630,7.093,1.957,...,1.775,1.635,0.007,0.010,0.020,0.002,702.678,432.922,-34.903,-9.443
3642,Australia,2004,AUS,20046680.0,8.097924e+11,3.555,0.177,383.159,13.529,3.660,...,1.703,1.634,0.007,0.010,0.020,0.002,735.504,446.694,-38.460,-10.038
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47794,United States,2018,USA,335056495.0,1.812469e+13,38.971,0.116,5377.797,165.635,3.178,...,8.143,17.834,0.035,0.230,0.276,0.011,6305.474,5953.741,426.265,7.926
47795,United States,2019,USA,337790068.0,1.854055e+13,40.896,0.121,5262.145,-115.652,-2.151,...,8.085,17.713,0.035,0.232,0.278,0.011,6216.229,5849.561,436.630,8.298
47796,United States,2020,USA,339436157.0,1.802736e+13,40.688,0.120,4714.628,-547.517,-10.405,...,8.294,17.591,0.035,0.235,0.280,0.011,5651.509,5262.847,472.234,10.016
47797,United States,2021,USA,340161441.0,1.909938e+13,41.312,0.121,5032.213,317.585,6.736,...,8.239,17.472,0.035,0.237,0.283,0.011,6009.153,5590.518,537.591,10.683
47798,United States,2022,USA,341534041.0,1.949317e+13,41.418,0.121,5078.871,46.658,0.927,...,8.240,17.356,0.035,0.239,0.285,0.011,6067.148,5650.342,563.985,11.105